*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
html,body{
width: 100%;
height: 100%;
background-color: black;
color: white;
}

#parent{
  width: 100%;
  height: 100%;
}

#main{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

form{
  min-width: 450px;
  background-color: #333;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 10px;
}

input{
  width: 300px;
  height: 40px;
  padding: 1rem;
  font-size: 1rem;
  border: solid 1.5px #9e9e9e;
  border-radius: 0.4rem;
  background: none;
  color: #f5f5f5;
}

button {
  width: 100%;
  height: 40px;
  padding: 10px 20px; 
  font-size: 18px;
  cursor: pointer;
  background-color: rgb(117, 117, 210);
  border: none;
  border-radius: 10px;
}

button:hover{
  background-color: rgb(64, 64, 175);
  color: white;
}

button:active{
  scale: 0.95;
}

.card{
  width: 350px;
  height: 300px;
  background-color:#f5f5f5 ;
  border-radius: 8px;
  padding: 10px;
  color: rgba(0, 0, 0, 0.689);
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.card span{
  margin-right: 8px;
  
}

#parentCard{
  height: 100%;
  width: 100%;
  display: flex;
  gap: 15px;
  padding: 30px;
  flex-wrap: wrap;
}