* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: black;
  color: white;
}

.parent {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  padding: 4rem;
}

.card {
  width: 300px;
  border: 1px solid white;
  background-color: #222;
  padding: 20px;
  text-align: center;
  border-radius: 20px;
}

.card img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 50%;
}

.card p {
  margin: 20px 0;
}

.card button {
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
